<!DOCTYPE html>
<html>
    <head>
        <title>INDEX EXAMPLE</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <nav class="nav-principal">
            <img class="nav-1" src="" alt="Logo">

            <div class="nav-2">
            <h2 class="Titulo">Disney Online World</h2>


            <ul class="menu">
               
                <li><a href="/characters">Personajes</a></li>
                <li><a href="/movies-and-series">Series y Películas</a></li>

            </ul>


            </div>



            <ul class="">         

                <li ><a href="/auth/login" class="">Ingresar</a></li>
                <li ><a href="/auth/register" class="">Registro</a></li>
              <!--  <li ><p th:if="${descripcion != null}" th:text="${descripcion}" style="color:white" class=""></p> </li> -->
            </ul>
        </nav>
        </header>

    </body>
</html>
